  <form novalidate="novalidate" class="form-horizontal">
      
        <div class="control-group">

            <div class="controls">
                
      
                   <label>Label : </label>
                <input type="text" ng-model="$parent.person.label" /> <br />
                
                
                <label>Type</label>
                
                <select ng-model="$parent.person.type">
                    <option>Scientifique</option>
                    <option>Personnage hitorique</option>
                </select>
               
            </div>
        </div>
    </form>