
<h1>Liste des auteurs bibliographiques</h1>



<table class="table table-bordered table-striped table-condensed">
    <tr>
        <th>Dénommination</th>
        <th>Nom</th>
        <th>Prénom</th>
        <th>edit</th>
        <th>delete</th>
    </tr>
    <tr ng-repeat="person in persons">

        <td><a href="#person-view/{{person.id}}">{{person.label}}</a></td> 
        <td>{{person.lastName}}</td> 
        <td>{{person.fistName}}</td>
        <td><button ng-click="delete(person.id)"  class="btn btn-small btn-danger">delete</button> 
        </td>
        <td><button ng-click="edit(person.id)"  class="btn btn-small btn-danger">edit</button></td>
    </tr>


</table>
 <button ng-click="create()" class="btn btn-small">Créer nouvel auteur bibliographique</button>