<form novalidate="novalidate" class="form-horizontal">

    <div class="control-group">

        <div class="controls">

            <div title="{{'help.person.label'|translate}}">
                <label>{{'label.person.label'|translate}} : </label>
                <input type="text" ng-model="$parent.person.label" class="form-control" /> <br />
            </div>

            <div title="{{'help.person.prenom'|translate}}">
                <label>{{'label.person.prenom'|translate}} : </label>
                <input type="text" ng-model="$parent.person.fistName" class="form-control"/><br />
            </div>

            <div title="{{'help.person.nom'|translate}}">
                <label>{{'label.person.nom'|translate}} : </label>
                <input type="text" ng-model="$parent.person.lastName" class="form-control" /><br />
            </div>



        </div>
    </div>
</form>