  <form novalidate="novalidate" class="form-horizontal">
      
        <div class="control-group">

            <div class="controls">
                             <label>Type</label>
                
<!--                <select ng-model="$parent.person.type">
                    <option value="scientifique">Scientifique</option>
                    <option value="historique">Personnage hitorique</option>
                </select><br />-->
                
      
                   <label>Label : </label>
                <input type="text" ng-model="$parent.person.label" /> <br />
                
                <label>Prénom : </label>
                <input type="text" ng-model="$parent.person.fistName"/><br />
                
                <label>Nom : </label>
                <input type="text" ng-model="$parent.person.lastName" /><br />
                
   
               
            </div>
        </div>
    </form>