<h1>Liste des sources</h1>


<label>Triées pas :</label>
<select ng-model="orderProp">
  <option value="title">titre</option>
  <option value="authors">Auteurs</option>
</select>

<!--
<label> Recherche :</label>
 <input >-->
 
 <div class="col-sm-3 col-md-3 pull-right">
    <form class="navbar-form" role="search">
        <div class="input-group">
            <input   ng-model="query" type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term" ng-model="query">
            <div class="input-group-btn">
                <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
            </div>
        </div>
    </form>
</div>
 

<table class="table table-bordered table-striped table-condensed">
    <tr>
        <!--<th>Source</th>-->
                <th>Auteur(s)</th>
                <th>titre</th>
                <th>type</th>
        <th ng-show="authenticated">Actions</th>
    </tr>

    <tr ng-repeat="source in sources | filter:query|orderBy:orderProp"">
        <!--<td><span ng-bind-html="source | sourceFilter"></span></td>-->
                <td>{{source.relationPerson|relationPersonAffPerson}}</td>
                <td> <a  href="#/source-view/{{source.id}}"/> {{source.title}}  </a></td>
                <td>{{source.bibliographicType.label}}</td>
        <td ng-show="authenticated">
            <button ng-click="delete(source.id)"  class="btn btn-small btn-danger">delete</button> 
            <button ng-click="edit(source.id)"  class="btn btn-small btn-danger">edit</button>

        </td>
    </tr>


</table>
 <button ng-show="authenticated" ng-click="create()" class="btn btn-small">Créer nouvelle Source</button>