<div>
    <h1>Fiche Source</h1>

    <div style="float: right" ng-show="authenticated" ng-controller="sourceListCtrl">
        <button ng-click="delete(source.id)"  class="btn btn-small btn-danger">delete</button> 
        <button ng-click="edit(source.id)"  class="btn btn-small btn-danger">edit</button>
    </div>


    <p>Type de source : {{source.bibliographicType.label}}</p>


    <p>Auteurs : </p>
    <ul>
        <li ng-repeat="au in $source.authors">{{au.label}}  </li>
    </ul>

    <p><strong>Title :</strong> {{source.title}}</p>

    <p><strong>Titre article :</strong> {{source.articleTitle}}</p>

    <p><strong>Ville d'édition :</strong> {{source.releaseTown}} </p>


    <p><strong>Année d'édition :</strong> {{source.releaseYear}}</p>



    <p><strong>Volume :</strong> {{source.volume}}</p>


    <p><strong>Series :</strong> {{source.series}}</p>

    <p><strong>publisher :</strong> {{source.publisher}}</p>

    <p><strong>editor :</strong> {{source.editor}}</p>

    <p><strong>num :</strong> {{source.num}}</p>


    <button back>Retour page précédente</button>

</div>