<form novalidate="novalidate" class="form-horizontal">
    <div class="control-group">
        <label class="control-label" for="title">Title : </label>
        <div class="controls">

            <label>Titre : </label>
            <input type="text" id="inputTitle" ng-model="$parent.work.title" /> <br />


            <label>Auteurs</label>

            <input type="text" ng-model="auteurUserSelection" placeholder="Saisissez l'auteur" typeahead="aut as aut.label for aut in getAuteurCompletion($viewValue) | filter:{title:$viewValue}" typeahead-loading="loadingLocations" class="form-control" typeahead-on-select="authorUserSelection($item, $model, $label)">
            <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>

            <label>Sélectionés :</label>
            <ul>
                <li ng-repeat="au in $parent.work.authors">{{au.label}}  <img src="img/delete1-16px.png" ng-click="removeAuthorClick(au.id)" /></li>
            </ul>

            <label>Thème : </label>
            <select id="selectTheme" ng-model="$parent.work.theme" ng-options="th as th.label for th in themedispo track by th.id"> </select><br />

            <label>Origin : </label>
            <select id="selectOrigine" ng-model="$parent.work.origin" ng-options="or as or.label for or in origindispo track by or.id"></select><br />

            <label title="Cette donnée représente la datation exacte de la source. Elle n'est précisé que si ...">Date exacte : </label>
            <input type="text" ng-model="$parent.work.exactDate"/><br />

            <label>centuryMax</label>
            <input ng-model="$parent.work.centuryMax"/><br />

            <label>centuryMin</label>
            <input ng-model="$parent.work.centuryMin"/><br />


            <label>Source : </label> <input type="text" ng-model="$parent.sourceUserSelection" 
                                            placeholder="Saisissez la source" typeahead="state as state.title for state in getStates($viewValue) | filter:{title:$viewValue}" 
                                            typeahead-loading="loadingLocationsSource" class="form-control"
                                            ng-keyup="sourceKeyPressWithEnter($event)" 
                                            typeahead-on-select="onSelectsourceUserSelection($item, $model, $label)">
            <input type="text" ng-model="$parent.sourceExtractUserSelection" placeholder="Extrait (ex : p 10-15)"/>

            <select ng-model="$parent.sourceNatureUserSelection">
                <option value="biblio">bibliographie</option>
                <option value="source">manuscrit</option>
                <option value="edition dource">edition de source</option>
            </select>

            <button type="button" id="btValideSourceUserSelection" ng-click="sourceBtAjouterClick()">Ajouter</button><br />


            <label>exactDate</label>





            <i ng-show="loadingLocationsSource" class="glyphicon glyphicon-refresh"></i>

            <p>selectionné : </p>

            <ul>
                <li ng-repeat="sr in $parent.work.relationWorkSource">
                    <span ng-bind-html="sr.source|sourceFilter"> </span> {{sr.extract}} [{{sr.nature}}]<img src="img/delete1-16px.png" ng-click="removeSourceClick(sr.id)">
         
                </li>
            </ul>

            <button class="btn btn-default" ng-click="open()">Ajouter une source</button>


            <script type="text/ng-template" id="myModalContent.html">

                <div id="header" ng-include src='"partials/source-create.html"' onload="onHtmlLoaded()" ng-controller="sourceCreateCtrl"></div>


                <div class="modal-header">
                <h3 class="modal-title">Ajout d'une source</h3>
                </div>
                <div class="modal-body">
                <ul>
                <li ng-repeat="item in items">
                <a ng-click="selected.item = item">{{ item }}</a>
                </li>
                </ul>
                Selected: <b>{{ selected.item }}</b>
                </div>
                <div class="modal-footer">
                <button class="btn btn-primary" ng-click="ok()">OK</button>
                <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
                </div>
            </script>


            <textarea ng-model="$parent.work.note">
                
            </textarea>

        </div>
    </div>


</form>