<h1>Liste des oeuvres</h1>

<div>
    <button class="btn btn-small" ng-click="clickSearchCollapsed()" >{{searchButtonTitle}}</button>


    <div collapse="isSearchCollapsed" class="well well-lg">
        <ul>
            <li ng-repeat="criteria in searchCriterias">{{criteria.operator}} - {{criteria.field}} - {{criteria.value|searchCriteria}}  <img src="img/delete1-16px.png" ng-click="removeSearchCriteria(criteria)" /></li>

        </ul>

        <form name="searchCriteriaWorkForm" novalidate>
            <div>
                <div class="form-inline">
                    <label>Ajouter un critère de recherche : </label>
                    <select ng-model="searchCriteria.operator" class="form-control" ng-required="searchCriterias.length" ng-disabled="!searchCriterias.length >0">
                        <option value="AND">ET</option>
                        <option value="OR">OU</option>
                    </select>


                    <select ng-model="searchCriteria.field"  class="form-control" ng-change="selectCriteriaInList()" required>
                        <option value="theme">Thème</option>
                        <option value="centuryMax">Siècle Max</option>
                        <option value="centuryMin">Siècle Min</option>
                        <option value="title">Titre</option>

                    </select>
                    <span ng-if="searchCriteria.field === 'theme'" required>
                        <select ng-model="searchCriteria.value" class="form-control">
                            <option ng-repeat="th in themedispo" value="[{{th.id}}]{{th.label}}">{{th.label}}</option>
                        </select>

                    </span>
                    <span ng-if="searchCriteria.field === 'centuryMax' || searchCriteria.field === 'centuryMin' || searchCriteria.field === 'title'">
                        <input name="value" type="text" ng-model="searchCriteria.value" required class="form-control" />
                    </span>


                    <!--<input name="value" type="text" ng-model="searchCriteria.value" required />-->
                    <button ng-click="addSearchCriteria()" class="btn btn-small">Ajout</button>
                </div>


            </div>
        </form>
        <button ng-click="search()" class="btn btn-small">Rechercher</button>
    </div>
</div>

<div class="form-inline" style="float: right">
    <label>Trier par :</label>
    <select ng-model="workOrderPropSelection" ng-change="workOrderPropChange();" class="form-control">
        <option value="title">Titre</option>
        <option value="centuryMin">Siècle min</option>
        <option value="centuryMax">Siècle Max</option>
        <option value="author">Auteur</option>
        <option value="id">Numero</option>
        <!--<option value="exactDate">Date Exacte</option>-->
    </select>
    <label>Rechercher : </label>

    <input  ng-keypress="($event.charCode==13)?addSearchFilter():return" ng-model="userSelectionquery" type="text" class="form-control" placeholder="{{workQuery}}" name="srch-term" id="srch-term">
    <button class="btn btn-default" type="submit" ng-click="addSearchFilter()"><i class="glyphicon glyphicon-search"></i></button>
</div>

<style>
    table {
        border-width:1px; 
        border-style:solid; 
        border-color:black;
        width:50%;
    }
    td { 
        border-width:1px;
        border-style:solid; 
        border-color: #31708f;
        width:50%;
    }

</style>

<div>
    
    <table class="table table-bordered table-striped table-condensed">

        <tr>
            <th>Numéro</th>
            <th>Auteur</th>
            <th>Titre</th>
            <th>Période</th>
            <th>Thèmes</th>
            <th ng-show="authenticated">Actions</th>
            <th ng-show="authenticated">Actions</th>
        </tr>

        <tr ng-if="loading">  
            <td><img src="images/ajax-loader.gif"/>Chargement des données...</td>
        </tr>   

        <tr ng-repeat="work in filteredWorks">

            <td>{{work.id}}</td>

            <td>
                <ul>
                    <li ng-repeat="author in work.authors"><a  href="#/workauthor-view/{{author.id}}"> {{author.label}}</a></li>
                </ul>
            </td>

            <td><a href="#/work-view/{{work.id}}">{{work.title}}</a></td>
            
            <td>{{work.centuryMin|centuryFilter:work.centuryMax}}</td>
            
            <td>
                <ul>
                    <li ng-repeat="theme in work.theme">{{theme.label}}</li>
                </ul>
            </td>

            <td ng-show="authenticated"><button ng-click="delete(work.id)"  class="btn btn-small btn-danger">delete</button> 
            </td>
            
            <td ng-show="authenticated"><button ng-click="edit(work.id)"  class="btn btn-small btn-danger">edit</button></td>
        </tr>

    </table>

    <pagination total-items="totalItems" ng-model="data.currentPage" ng-change="pageChanged()"></pagination>

    <ul>
        <li>Nombre d'oeuvre pour cette recherche : {{totalItems}}</li>
        <li>Nombre d'oeuvre en base de données : {{data.totalItemsInDB}}</li>
    </ul>
    <div class="div_action_button" ng-show="authenticated">
        <button ng-click="createNewUser()" class="btn btn-small">Créer nouvelle Oeuvre</button>

    </div>
</div>