<h1>Liste des oeuvres</h1>


Recherche : 


<ul>
    <li ng-repeat="criteria in searchCriterias">{{criteria.operator}} - {{criteria.field}} - {{criteria.value}}  <img src="img/delete1-16px.png" ng-click="removeSearchCriteria(criteria)" /></li>
 
</ul>
<button ng-click="search()">Rechercher</button>
    
    
<form name="searchCriteriaWorkForm" novalidate>
    <div>
        Ajouter un critère de recherche : 
        <select ng-model="searchCriteria.operator" required>
            <option>Operateur</option>
            <option>AND</option>
            <option>OR</option>
        </select>
        <select ng-model="searchCriteria.field" required>
            <option value="theme">theme</option>
            <option value="centuryMax">centuryMax</option>
            <option value="centuryMin">centuryMin</option>
                
        </select>
        
        
        <input name="value" type="text" ng-model="searchCriteria.value" required />
         <button ng-click="addSearchCriteria()">Ajout</button>
          

       
    </div>
</form>
    


<p></p>

<label>Trier par :</label>
<select ng-model="workOrderPropSelection" ng-change="workOrderPropChange();">
    <option value="title">Titre</option>
    <option value="centuryMin">Siècle min</option>
    <option value="centuryMax">Siècle Max</option>
    <option value="author">Auteur</option>
    <option value="id">Numero</option>
    <!--<option value="exactDate">Date Exacte</option>-->
</select><br />

<!--<label>Recherche : </label>
<form class="navbar-form" role="search">
    <input ng-model="query" class="form-control" search>
</form>-->


<div class="col-sm-3 col-md-3 pull-right">
    <form class="navbar-form" role="search">
        <div class="input-group">
            <input   ng-model="userSelectionquery" type="text" class="form-control" placeholder="{{workQuery}}" name="srch-term" id="srch-term">
            <div class="input-group-btn">
                <button class="btn btn-default" type="submit" ng-click="addSearchFilter()"><i class="glyphicon glyphicon-search"></i></button>
            </div>
        </div>
    </form>
</div>


<style>
    table {
        border-width:1px; 
        border-style:solid; 
        border-color:black;
        width:50%;
    }
    td { 
        border-width:1px;
        border-style:solid; 
        border-color: #31708f;
        width:50%;
    }


</style>





<table class="table table-bordered table-striped table-condensed">

    <tr>
        <th>Numéro</th>
        <th>Auteur</th>
        <th>Titre</th>
        <th>Période</th>
        <th>Thèmes</th>
        <th ng-show="authenticated">Actions</th>
        <th ng-show="authenticated">Actions</th>
    </tr>

    <!--    <input ng-model="work.centuryMax">-->
    <tr ng-repeat="work in filteredWorks">

        <td>{{work.id}}</td>

        <td>
            <ul>

                <li ng-repeat="author in work.authors"><a  href="#/workauthor-view/{{author.id}}"> {{author.label}}</a></li>
            </ul>
        </td>

        <td><a href="#/work-view/{{work.id}}">{{work.title}}</a></td>


        <td>{{work.centuryMin|centuryFilter:work.centuryMax}}</td>
        <td>

            <ul>
                <li ng-repeat="theme in work.theme">{{theme.label}}</span></li>
            </ul>

        </td>

        <!--<td>-->
        <!--            <ul>
                        <li ng-repeat="src in work.relationWorkSource"> <span ng-bind-html="src.source | sourceFilter"> </span> {{sr.extract}}</li>
                    </ul>-->
        <!--</td>-->
        <td ng-show="authenticated"><button ng-click="delete(work.id)"  class="btn btn-small btn-danger">delete</button> 
        </td>
        <td ng-show="authenticated"><button ng-click="edit(work.id)"  class="btn btn-small btn-danger">edit</button></td>
    </tr>


</table>


<pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()"></pagination>

<ul>
    <li>Nombre d'oeuvre pour cette recherche : {{totalItems}}</li>
    <li>Nombre d'oeuvre en base de données : {{totalItemsInDB}}</li>
</ul>
<div class="div_action_button" ng-show="authenticated">
    <button ng-click="createNewUser()" class="btn btn-small">Créer nouvelle Oeuvre</button>

</div>