<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        
        <div style="float: right" ng-show="authenticated" ng-controller="workListCtrl">
        <button ng-click="delete(work.id)"  class="btn btn-small btn-danger">delete</button> 
        <button ng-click="edit(work.id)"  class="btn btn-small btn-danger">edit</button>
    </div>
        
        
        <h1>Fiche Oeuvre</h1>
        
        <p><strong>Numéro : </strong> {{work.id}}</p>
        
        <p><strong>Auteur : </strong><span ng-repeat="person in work.authors"><a href="#/workauthor-view/{{person.id}}"> {{person.label}} </a></span></p>
        
        <p><strong>Titre : </strong> {{work.title}}</p>
        
         <p><strong>Origine : </strong> {{work.origin}}</p>
         
         <p><strong>Période : </strong>{{work.centuryMin|centuryFilter:work.centuryMax}}</p>
         
          <p><strong>Date exacte :</strong> {{work.exactDate}}</p>
         
        <p><strong>Thème :</strong> <span ng-repeat="theme in work.theme">{{theme.label}} ; </span> </p>
        
      <p><strong>Notes</strong></p>
        <p>{{work.note}}</p>
        
        <p><strong>Sources : </strong></p>
        <ul>
            <li ng-repeat="sr in work.relationWorkSource">
                <span ng-bind-html="sr.source | sourceFilter"> </span> {{sr.extract}} [{{sr.nature}}]
            </li>
        </ul>
        
        <button back class="btn btn-default">Retour page précédente</button>
    </body>
</html>
