<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        
        <h1>Fiche Oeuvre</h1>

        <p><strong>Titre : </strong> {{work.title}}</p>

        <p><strong>Auteur : </strong><span ng-repeat="person in work.authors"> {{person.label}} </span></p>
        
        <p><strong>Thème :</strong> {{work.theme}}</p>
        
        <p><strong>Origine :</strong> {{work.origin}}</p>
        
        <p><strong>Date exacte :</strong> {{work.exactDate}}</p>
        
        <p><strong>Siècle max :</strong> {{work.centuryMax}}</p>
        
        <p><strong>Siècle min :</strong> {{work.centuryMin}}</p>
        
        <p><strong>Notes : </strong></p>

        <p><strong>Notes</strong></p>
        <p>{{work.note}}</p>



        <button back>Retour page précédente</button>
    </body>
</html>
