
<h1>Liste des auteurs historiques</h1>



<table class="table table-bordered table-striped table-condensed">
    <tr>
        <th>Dénomination</th>
        <th>Actions</th>

    </tr>
    <tr ng-repeat="workauthor in data.workauthors">
        <td><a href="#/workauthor-view/{{workauthor.id}}">{{workauthor.label}}</a></td> 
        <td>
             <button ng-click="delete(workauthor.id)"  class="btn btn-small btn-danger"><span class="glyphicon glyphicon-remove"></span></button> 
            <button ng-click="edit(workauthor.id)"  class="btn btn-small btn-success"><span class="glyphicon glyphicon-pencil"></span></button>
        </td> 
    </tr>
    
    
</table>
<div data-pagination="" data-num-pages="numPages()" 
  data-current-page="currentPage" data-max-size="10"  
  data-boundary-links="true"></div>

<button ng-click="create()" class="btn btn-small">Créer nouvelle auteur</button>